---
import { getI18N } from 'src/i18n'
import ExperienceItem from './experience-item.astro'
import BriefCaseIcon from '@icons/briefcase-icon.astro'
import { TECH_STACK } from 'src/utils/technologies'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const experience = i18n?.EXPERIENCE

const { NextJS, TypeScript } = TECH_STACK

const EXPERIENCE = [
  {
    title: experience?.PRAGMA.TITLE,
    description: experience?.PRAGMA.DESCRIPTION,
    date: experience?.PRAGMA.DATE,
    stack: [NextJS, TypeScript]
  },
  {
    title: experience?.SELFTAUGHT_DEVELOPER.TITLE,
    description: experience?.SELFTAUGHT_DEVELOPER.DESCRIPTION,
    date: experience?.SELFTAUGHT_DEVELOPER.DATE,
  },
  {
    title: experience?.NATIONAL_PROGRAMMING_CONTEST.TITLE,
    description: experience?.NATIONAL_PROGRAMMING_CONTEST.DESCRIPTION,
    date: experience?.NATIONAL_PROGRAMMING_CONTEST.DATE,
  },
]
---

<section class='mb-16'>
  <h2
    id={experience?.SECTION_ID}
    class='flex gap-4 items-center mb-8 text-4xl font-bold'
    ><BriefCaseIcon class='size-8' />{experience?.SECTION_TITLE}</h2
  >
  <ol class='relative border-s border-neutral-400'>
    {
      EXPERIENCE.map((item) => (
        <li class='mb-16 ms-4'>
          <ExperienceItem
            title={item.title}
            description={item.description}
            date={item.date}
            stack={item.stack}
          />
        </li>
      ))
    }
  </ol>
</section>
