---
import Project, { TECH_STACK } from './project.astro'
import CodeIcon from './icons/code-icon.astro'
import { getI18N } from 'src/i18n'

const { ReactJS, ViteJS, CSS, Astro: AstroFrameWork, TailwindCSS } = TECH_STACK

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const projects = i18n?.PROJECTS

const PROJECTS = [
  {
    title: 'React Shopping Cart',
    description: projects?.REACT_SHOPPING_CART.DESCRIPTION,
    image: '/projects/react-shopping-cart.webp',
    link: 'https://cristian-react-shopping-cart.surge.sh/',
    stack: [ReactJS, ViteJS, CSS],
    class: 'md:col-span-4',
  },
  {
    title: 'Movie Finder',
    description: projects?.MOVIE_FINDER.DESCRIPTION,
    image: '/projects/movie-finder.webp',
    link: 'https://cristianqsanchez.github.io/movie-finder/',
    stack: [ReactJS, ViteJS, CSS],
    class: 'md:col-span-6',
  },
  {
    title: 'Blog - AI',
    description: projects?.BLOG_AI.DESCRIPTION,
    image: '/projects/blog-ai.webp',
    link: 'https://blog-ai-chi.vercel.app/',
    stack: [AstroFrameWork, ReactJS, TailwindCSS],
    class: 'md:col-span-10',
  },
  {
    title: 'React & Morty',
    description: projects?.REACT_AND_MORTY.DESCRIPTION,
    link: 'https://github.com/cristianqsanchez/React-and-Morty',
    stack: [ViteJS, ReactJS, TailwindCSS],
    class: 'md:col-span-6',
  },
  {
    title: 'ToDo App',
    description: projects?.TODO_APP.DESCRIPTION,
    link: 'https://github.com/cristianqsanchez/todo-app',
    stack: [ViteJS, ReactJS, TailwindCSS],
    class: 'md:col-span-4',
  },
]
---

<section class='mb-32'>
  <h2
    id={projects?.SECTION_ID}
    class='flex gap-4 items-center mb-8 text-4xl font-bold'
    ><CodeIcon class='size-8' />{projects?.SECTION_TITLE}</h2
  >
  <div class='grid grid-cols-10 gap-4'>
    {
      PROJECTS.map(
        ({ title, description, image, link, stack, class: style }) => (
          <Project
            class={style}
            title={title}
            description={description}
            image={image}
            link={link}
            stack={stack}
          />
        ),
      )
    }
  </div>
</section>
